NEXT_PUBLIC_API_BASE_URL=https://api.gongmozip.site
NEXT_PUBLIC_WS_BASE_URL=https://api.gongmozip.site
NEXT_PUBLIC_FRONTEND_URL=https://gongmozip.site
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCSGtfN_RZIB1i79uG2YnGNxNVNvrBCYbA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=gongmozip-bfd3a.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=gongmozip-bfd3a
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=gongmozip-bfd3a.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1012075776555
NEXT_PUBLIC_FIREBASE_APP_ID=1:1012075776555:web:a28ad712ed816e693cb86e
NEXT_PUBLIC_FIREBASE_VAPID_KEY=BA0k3w0Yzugj6ITZQLIgivkvU_w79I-7h_R1ysFKK1RCOu_LwG71zkMCgrCF2wI9EBfYut-QPt7HP2Rpm6z7CCE